{% extends 'base.html.twig' %}

{% block body %}
    <h1>🦫 Père Castor, racontes moi une histoire 🦫</h1>

    {{ form_start(form) }}
    {{ form_row(form.prompt) }}
    {{ form_row(form.submit, {
        label_html: true,
        label: '🦫 Réponds à cette question <img class="htmx-indicator" src="/wait.svg" />'
    }) }}
    {{ form_end(form) }}

    <div id="response"></div>

{% endblock %}
